$darkened: rgba(0,0,0,.65);
$white: #eee;
$black: #111;
$darkgrey: #333;
$accent: #E1B900;

body{
    max-width: 100%;
}


#header{
    background-image: url("../images/shopshelf.jpeg");
    background-position: center;
}

#opening{
    background-image: url("../images/shopfloor.jpg");

}

footer{
    background-color: $darkgrey;
    color: $white;
    h1, h2, h3, h4, h5{
        color: $white;
    }
}

/* THE WIDTH LIMITER FOR CONTENT */
.container{
    max-width: 1200px;
    margin: auto;
}

.section{
    padding: 30px;

    /*REMOVE*/
    border: 1px solid $black;
    &.section-centered{
        text-align: center;
    }
    &.section-large{
        padding: 200px 30px;
    }
    &.section-bg{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;

        color: $white;
        h1, h2{
            color: $white;
        }
    }
}

// STANDARD FLEX STYLING
.flex{

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;



    .flex_item{

        margin: 15px;

        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
    }
    &.flex-centrealign{
        align-items: center;
    }
}

// NAVBAR STYLING
.navbar{
    position: fixed;
    background-color: $darkened;
    width: 100%;
    z-index: 1;
    li{ 
        display: inline-block;
    }
}

// FONT
a{
    color: $white;
    &:hover{
        color: $accent;
    }
}



// IMAGE AND CINTAINER STYLING
.imgcontainer{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    img{
        flex-shrink:0;
        min-width:100%;
        min-height:100%
    }
}
.imgcontainer img{
    min-width: 100%;
    min-height: 100%;
}
.img-rounded{
    border-radius: 50%;
}
.img-fill{
    overflow: hidden;
    position: relative;

    img{
        min-width: 100%;
        min-height: 100%;
        position: relative;
        margin: auto;
        max-width: none;
    }
    .img-wide{
        height: 100%;
      }
      
      .img-tall{
        width: 100%;
      }
}



.centered{
    text-align: center;
}
.shaded{
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
}
.fixed{
    background-attachment: fixed;
}

// SERVICES STYLING
.service{
    max-width: 370px;
    .imgcontainer{
        width: 270px;
        height: 270px;
        margin: auto;
    }
}

// BRAND STYLING
.brand{
    min-width: 120px;
    max-width: 220px;
}

// OPENING HOURS
.day{
    border: 1px solid $white;

    transition: transform .1s ease-in-out;
    &:hover{
        transform: scale(1.05);
        color: $accent;
        border-color: $accent;
        h2{
            color: $accent;
        }
    }
}





